@define-color theme_fg_color #3c3c3e;
@define-color theme_text_color #3c3c3e;
@define-color theme_bg_color #f7f7f7;
@define-color theme_base_color #ffffff;
@define-color theme_selected_bg_color #4080fb;
@define-color theme_selected_fg_color #ffffff;
@define-color fg_color #3c3c3e;
@define-color text_color #3c3c3e;
@define-color bg_color #f7f7f7;
@define-color base_color #ffffff;
@define-color selected_bg_color #4080fb;
@define-color selected_fg_color #ffffff;
@define-color insensitive_bg_color #f4f4f4;
@define-color insensitive_fg_color #ababad;
@define-color insensitive_base_color #ffffff;
@define-color theme_unfocused_fg_color #3c3c3e;
@define-color theme_unfocused_text_color #3c3c3e;
@define-color theme_unfocused_bg_color #f7f7f7;
@define-color theme_unfocused_base_color #ffffff;
@define-color borders #b9b9b9;
@define-color unfocused_borders #b9b9b9;
@define-color warning_color #f57900;
@define-color error_color #cc0000;
@define-color success_color #73d216;
@define-color wm_title #3c3c3e;
@define-color wm_unfocused_title rgba(60, 60, 62, 0.7);
@define-color wm_title_highlight white;
@define-color wm_title_highlight_dark transparent;
@define-color wm_title_shadow white;
@define-color metacity_bg_a #f7f7f7;
@define-color metacity_bg_b #f7f7f7;
@define-color wm_border #6d6d6d;
@define-color content_view_bg #ffffff;

/* Buttons */

@define-color button_normal_bg #FFFFFF;
@define-color button_normal_fg #474747;
@define-color button_normal_border #BCBCBC;

@define-color button_focus_bg #E9ECEE;
@define-color button_focus_fg #474747;
@define-color button_focus_border #AAAEB0;

@define-color button_hover_bg #CBCED4;
@define-color button_hover_fg #FFFFFF;
@define-color button_hover_border #AAAEB0;

@define-color button_active_bg #C2C5CA;
@define-color button_active_fg #FFFFFF;
@define-color button_active_border #AAAEB0;

/* Scrollbars */

@define-color scrollbar_trough_bg rgba(255, 255, 255, 0.5);
@define-color scrollbar_overlay_bg #C7C7C7;
@define-color scrollbar_normal_bg #C7C7C7;
@define-color scrollbar_hover_bg #979797;
@define-color scrollbar_active_bg #757575;



/* File Browser */

@define-color iconview_bg #FFFFFF;




@import url("gtk-widgets.css");
@import url("styles/mate.css");
@import url("styles/scrollbars-rounded-light.css");
@import url("midnight-titlebar.css");
@import url("midnight-light-menus.css");
/* @import url("midnight-menus.css"); */
