menubar,
.menubar {
  -GtkWidget-window-dragging: true;
  padding: 0px;
  color: #E7E7E7;
  background-color: #31343D; }

headerbar,
.titlebar:not(headerbar) {
  min-height: 38px;
  padding: 8px 8px;
  color: #3c3c3e;
  border-width: 0 0 1px;
  border-style: solid;
  border-radius: 0;
  border-color: #C7C7C7; /*b9b9b9*/
  background-color: transparent;
  background-image: linear-gradient(to bottom, #F8F8F9, #F8F8F9);
  box-shadow: none; }

.titlebar {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px; }

menubar > menuitem:hover,
.menubar > menuitem:hover
{
background-image: none;
color: #E6E6E6;
background-color: #292B33;
border-bottom: 1px solid #31343D;
border-left: 1px solid #23272B;
border-right: 1px solid #23272B;
border-top: 1px solid #23272B;
}
