menubar,
.menubar {
  -GtkWidget-window-dragging: true;
  padding: 0px;
  color: #E7E7E7;
  background-color: #373737; }
headerbar,
.titlebar:not(headerbar) {
  min-height: 38px;
  padding: 8px 8px;
  color: #3c3c3e;
  border-width: 0 0 1px;
  border-style: solid;
  border-radius: 0;
  border-color: #C7C7C7; /*b9b9b9*/
  background-color: transparent;
  background-image: linear-gradient(to bottom, #F7F7F7, #F7F7F7);
  box-shadow: none; }
.titlebar {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px; }

menubar > menuitem:hover,
.menubar > menuitem:hover
{
background-image: none;
color: #373737;
background-color: #FFFFFF;
border-bottom: 1px solid #FAFAFA;
border-left: 1px solid #373737;
border-right: 1px solid #373737;
border-top: 1px solid #373737;
}
  .solid-csd decoration {
    border-radius: 0;
    margin: 1px 0px 0px 0px;
    background-color: #f7f7f7;
    border: solid 1px #8D8F91; /*87888A*/
    box-shadow: inset 0 1px #A3A9B1; }
